*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Classes utilitaires */
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
/* Classes Generales */
/* header */
.Header-navigation{
    justify-content: space-between;
    padding:2% 5%;
}
.order{
    list-style: none;
}
.order li a{
    text-decoration: none;
    color: #000000;
    font-size: 28px;
    font-weight: bolder; 
}
.order-links{
    list-style: none;
    justify-content: space-around;
    width: 25vw;
    align-items: center;
}
.order-links li a{
    text-decoration: none;
    color: #000000;
}
/* footer */
footer{
    padding: 0 10%;
    height: 15vh;
}
.div-footer{
    height: 10vh;
}
.nav-foot{
    justify-content: space-between;
    width: 42vw;
}
.links-footer{
    list-style: none;
    justify-content: space-around;
}
.links-footer li{
    font-weight: bolder;
}
.links-footer li a{
    font-weight: normal;
    text-decoration: none;
    color: #000000;
}
.image-reseau{
    justify-content: space-between;
    align-items: center;
    width: 5vw;
}
.logo-reseau{
    width: 20px;
    height: 20px;
}
.copy{
    width: 30vw;
    padding-top: 1%;
    justify-content: flex-end;
}
/*Page accueil */
.Accueil_main{
    justify-content: space-around;
    height: 70vh;
}
.Accueil_main-section1{
    align-items: center;
    justify-content: flex-end;
    width: 35%;
    height: 65vh;
}
.Accueil_main-section1 img{
    height: 45vh;
    width: 25vw;
    border-radius: 50%;
}
.Accueil_main-section2{
    align-items: center;
    height: 65vh;
    width: 55%;
}
.Accueil_présentation{
    justify-content: space-between;
    height: 45vh;
}
.hello{
    font-size: 55px;
}
.Moi{
    width: 55%;
    justify-content: space-between;
    height: 18vh;
}
.Accueil_présentation-bouton{
    list-style: none;
    width: 45%;
    height: 12vh;
    align-items: flex-end;
    justify-content: space-between;
}
.b1{
    font-weight: bolder;
    background-color: #eea302;
}
.b2{
    font-weight: bolder;
    background-color: #e13b25;
}
.b3{
    font-weight: bolder;
    background-color: #80d8da;
}
.button{
    height: 10vh;
    width: 5vw;
    border-radius: 50%;
}
.button a{
    color: #000000;
    text-decoration: none;
}
/* page CV */
.CV_main{
    justify-content: space-around;
    height: 240vh;
    padding: 0 11%;
    margin-bottom: 3%;
}
.vitae{
    font-size: 24px;
    font-weight: bolder;
}
/* Formation */
.CV_main-section1{
    justify-content: space-between;
    height: 110vh;
}
/* kadea */
.F0{
    justify-content: space-between;
    height: 20vh;
}
.Kadea,.unikin,.MESP{
    justify-content: space-between;
}

.projet{
    height: 12vh;
    justify-content: space-between;
}
/* unikin L1 */
.F1{
    justify-content: space-between;
    height: 13vh;
}
/* unikin renversement (voir partie kadea pour l'ensemble, Kadea,unikin et Mesp) */
.F3{
    justify-content: space-between;
    height: 10vh;
}
/* Stages */
.CV_main-section2{
    justify-content: space-between;
    height: 50vh;
}
/* formation1 et formation2 stage */
.Stage{
    justify-content: space-between;
    height: 20vh;
}
.cours-stage{
    justify-content: space-between;
    height: 10vh;
}
/* Compétences */
.CV_main-section3{
    justify-content: space-between;
    height: 20vh;
}
/* Langue */
.CV_main-section4{
    justify-content: space-between;
    height: 13vh;
}
/* page contact */
.Contact_main{
    padding: 0 10%;
}
/* cont navigation et formulaire*/
.cont{
    height: 110vh;
    width: 40vw;
}
.Contact{
    height: 45vh;
    justify-content: space-around;
}
.Contact_liens{
    justify-content: space-around;
    height: 15vh;
    list-style: none;
}
.Contact_liens-li{
    font-weight: bolder;
}
.Contact_liens li a{
    text-decoration: none;
    color: #000;
}
/* formulaire */
.formulaire{
    height: 110vh;
    width: 47vw;
}
.formulaire_col1{
    height: 80vh;
    justify-content: space-around;
}
/* formulaire noms et formulaire email */
.nom{
    justify-content: space-between;
}
.label-nom{
    justify-content: space-around;
    height: 10vh;
}
.input{
    border: 2px solid #000;
    width: 19vw;
    height: 4vh;
}
/* formulaire message */
.message{
    height: 30vh;
    justify-content: space-around;
}
.message textarea{
    border: 2px solid #000;
    width: 19vw;
    font-size: 16px;
    padding: 5%;
    height: 19vh;
}
.Envoyer{
    justify-content: center;
    align-items: flex-start;
    width: 19vw;
    padding-top: 7%;
}

.input-envoit{
    font-size: 20px;
    font-weight: bolder;
    background-color: #eea302;
    height: 20vh;
    width: 10vw;
    border-radius: 50%;
}
/* page projet */
.projets_main{
   padding: 0 10%;
}
.projets{
    justify-content: space-around;
    height: 170vh;
}
/* les sections */
.projets_section{
    justify-content: space-between;
    height: 40vh;
}
/* conteneurs div des sections */
.projets_div{
    height: 25vh;
    width: 40%;
    justify-content: space-around;
}
.PDIV{
    height: 23vh;
}
.PDIV1{
    height: 22vh;
}
/* images projets */
.lien_projet1{
    background-image: url("images/norman.png");
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 40%;
    border: 2vw solid #dfdfdf;
}
.lien_projet2{
    background-image: url("images/flexbox.png");
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 40%;
    border: 2vw solid #dfdfdf;
}
.lien_projet3{
    background-image: url("images/positionnement.png");
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 40%;
    border: 2vw solid #dfdfdf;
}

/* petit écran */
@media screen and (max-width:767px){
    /* Classes Generales */
    /* header */
    .Header-navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 20vh;
    }
    .order-links{
        width: 70vw;
    }
    /* footer */
    footer{
        padding: 0% 2% 0 2%;
        text-align: center;
    }
    .hr{
        border: 2px solid #d9d9d9;
    }
    .div-footer{
        padding-top: 10%;
        align-items: center;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .nav-foot{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 60vh;
        width: 60vw;
    }
    .links-footer{
        justify-content: space-between;
        height: 12vh;
        align-items: center;
    }
    .image-reseau{
        width: 15vw;
    }
    .logo-reseau{
        width: 25px;
        height: 25px;
    }
    .copy{
        width: 70vw;
        justify-content: center;
    }
    /*Page accueil */
    .Accueil_main{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .Accueil_main-section1{
        align-items: center;
        width: 100%;
        height: 25vh;
        justify-content: center;
    }
    .Accueil_main-section1 img{
        height: 20vh;
        width: 30vw;
        border-radius: 50%;
    }
    .Accueil_main-section2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .Accueil_présentation{
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height:30vh ;
    }
    .hello{
        font-size: 45px;
    }
    .Moi{
        text-align: center;
    }
    .Accueil_présentation-bouton{
        display: none;
    }
    /* page CV */
    .CV_main{
        height: 380vh;
    }
    .vitae{
        text-align: center;
    }
    /* Formation */
    .CV_main-section1{
        height: 230vh;
    }
    /* kadea */
    .F0{
        height: 50vh;
    }
    .Kadea{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 20vh;
    }
    .projet{
        height: 25vh;
    }
    /* unikin L1 */
    .F1{
        height: 50vh ;
    }
    .unikin{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        height: 20vh;  
    }
    /* unikin renversement */
    .renversement{
        height: 23vh;
    }
    /* unikin G3 */
    .F3{
        height: 40vh;
    }
    /* Stages */
    .CV_main-section2{
        height: 90vh;
    }
    /* formation1 et formation2 stage */
    .Stage{
        height: 40vh;
    }
    .MESP{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        height: 20vh; 
    }
    .cours-stage{
        justify-content: space-between;
        height: 15vh;
    }
    /* compétences */
    .CV_main-section3{
        height: 35vh;
    }
    /* page contact */
   .Contact_main{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   /* cont navigation et formulaire*/
    .cont{
        height: 40vh;
        width: 70vw;
        text-align: center;
    }
    .Contact{
        height: 35vh;
    }
    .Contact_liens{
        height: 20vh;
    }
    /* formulaire */
    .formulaire{
        height: 80vh;
        width: 70vw;
    }
    .formulaire_col1{
        height: 60vh;
    }
    /* formulaire noms et formulaire email */

    .label-nom{
        width: 30vw;
    }
    .input{
        width: 30vw;
    }
    /* formulaire message */
    .message{
        height: 24vh;
        width: 30vw;
    }
    .message textarea{
        width: 30vw;
        font-size: 16px;
        padding: 5%;
        height: 15vh;
    }
    .Envoyer{
        width: 30vw;
        height: 25vh;
        padding-top: 15%;
    }
    .input-envoit{
        font-size: 16px;
        height: 15vh;
        width: 25vw;
        border-radius: 50%;
    }
    /* page projet */
    .projets{
        height: 260vh;
    }
    .projets h2{
        text-align: center;
    }
    /* les sections */
    .projets_section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: darkolivegreen;
        height: 70vh;
    }
    /* conteneurs div des sections */
    .projets_div{
        text-align: center;
        height: 75vh;
        width: 100%;
    }
    .PDIV{
        height: 70vh;
    }
    .PDIV1{
        height: 35vh;
    }
 /* images projets */
    .lien_projet1{
        width: 100%;
    }
    .lien_projet2{
        width: 100%;
    }
    .lien_projet3{
        width: 100%;
    }
}
/* Tablette */
@media screen  and (min-width:768px ) and (max-width:1023px) {
    /* footer */
    footer{
        padding: 0 5%;
    }
    .nav-foot{
        width: 55vw;
    }
    .image-reseau{
        width: 10vw;
    }
    /*Page accueil */
    .Accueil_main{
        align-items: center;
    }
    .Accueil_main-section1{
        height: 45vh;
    }
    .Accueil_main-section1 img{
        height: 45vh;
        width: 30vw;
        border-radius: 50%;
    }
    .Accueil_main-section2{
        height: 45vh;
    }
    .Moi{
        width: 100%;
        justify-content: space-between;
        width: 55vw;
        height: 15vh;
    }
    .Accueil_présentation-bouton{
        width: 65%;
    }
    .button{
        width: 10vw;
    }
    /* Page CV */
    /* Formation */
    .CV_main-section1{
        background-color: blueviolet;
        justify-content: space-between;
        height: 130vh;
    }
    /* kadea */
    .F0{
        background-color: bisque;
        justify-content: space-between;
        height: 25vh;
    }
    .projet{
        height: 15vh;
        justify-content: space-between;
    }
    /* unikin L1 */
    .F1{
        background-color: cadetblue;
        justify-content: space-between;
        height: 20vh;
    }
    /* unikin G3 */
    .F3{
        background-color: darkkhaki;
        justify-content: space-between;
        height: 15vh;
    }
    /* page contact */
    .Contact_main{
        padding: 0 5%;
    }
    /* cont navigation */
    .cont{
        width: 45vw;
    }
    /* formulaire */
    /* formulaire message */
    .Envoyer{
        padding-top: 15%;
    }
    .input-envoit{
        font-size: 16px;
        height: 15vh;
        width: 13vw;
    }




}
