*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Classes utilitaires */
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
/* Classes Generales */
/* header */
.Header-navigation{
    justify-content: space-between;
    padding:2% 5%;
}
.order{
    list-style: none;
}
.order li a{
    text-decoration: none;
    color: #000000;
    font-size: 28px;
    font-weight: bolder; 
}
.order-links{
    list-style: none;
    justify-content: space-around;
    width: 25vw;
    align-items: center;
}
.order-links li a{
    text-decoration: none;
    color: #000000;
}
/* footer */
footer{
    padding: 0 10%;
    height: 15vh;
}
.div-footer{
    height: 10vh;
}
.nav-foot{
    justify-content: space-between;
    width: 42vw;
}
.links-footer{
    list-style: none;
    justify-content: space-around;
}
.links-footer li{
    font-weight: bolder;
}
.links-footer li a{
    font-weight: normal;
    text-decoration: none;
    color: #000000;
}
.image-reseau{
    gap: 1em;
    align-items: center;
    
}
.logo-reseau{
    width: 20px;
    height: 20px;
}
.copy{
    width: 30vw;
    padding-top: 1%;
    justify-content: flex-end;
}
/*Page accueil */
.Accueil_main{
    gap: 10%;
    padding: 4em 10em;
}
.Accueil_images{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.Accueil_présentation{
    width: 50%;
    justify-content: space-between;
}
.hello{
    font-size: 55px;
}
.Moi{
    line-height: 25px;
    gap: 1em;
    width: 65%;
}
.Moi p span{
    font-weight: bolder;
}
.Accueil_présentation-bouton{
    list-style: none;
    justify-content: space-between;
    width: 65%;
}
.b1{
    font-weight: bolder;
    background-color: #eea302;
}
.b2{
    font-weight: bolder;
    background-color: #e13b25;
}
.b3{
    font-weight: bolder;
    background-color: #80d8da;
}
.button{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.button a{
    color: #000000;
    text-decoration: none;
}
/* page CV */
.CV_main{
    padding: 0 11%;
}
.vitae{
    font-size: 24px;
    font-weight: bolder;
    padding: 3em 0;
}
/* Formation */
.formation{
    font-size: 22px;
    padding-bottom: 3em ;
}
/* kadea */
.F0{
    gap: 2em;
    padding-bottom: 3em;
}
.Kadea,.unikin,.MESP{
    justify-content: space-between;
    line-height: 25px;
}
.projet{
    gap: 1em;
}
.projet ul{
    line-height: 25px;
    padding-left: 2em;
}
/* unikin L1 */
.F1{
    gap: 2em;
    padding-bottom: 3em;
}
.unikin-memoire{
    line-height: 25px;
}
/* unikin renversement (voir partie kadea pour l'ensemble, Kadea,unikin et Mesp) */
.renversement{
    gap: 2em;
    padding-bottom: 3em;
}

.F3{
    gap: 2em;
    padding-bottom: 3em;
}
/* Stages */
.stages{
    padding: 3em 0;
}
.CV_main-section2{
    justify-content: space-between;
}
/* formation1 et formation2 stage */
.Stage{
    gap: 2em;
    padding-bottom: 3em;
}
.cours-stage{
    gap: 1em;
}
.cours-stage ul{
    line-height: 25px;
    padding-left: 2em;
}
/* Compétences */
.compétences{
    padding: 3em 0;
}
.CV_main-section3{
    padding-bottom: 3em;
}
.CV_main-section3 ul{
    line-height: 25px;
    padding-left: 2em;
}
/* Langue */
.langues{
    padding: 3em 0;
}
.CV_main-section4{
    padding-bottom: 3em;
}
.CV_main-section4 ul{
    line-height: 25px;
    padding-left: 2em;
}
/* page contact */
.Contact_main{
    padding: 0 10%;
    justify-content: space-between;
}
/* contact section */
.contact-section{
    padding-top: 5em;
    gap: 3em;
}
.Contact_liens{
    gap: 1.5em;
}
.Contact_liens div{
    line-height: 25px;
}
.Contact_liens div p{
    font-weight: bolder;
}
.Contact_liens div a{
    text-decoration: none;
    color: #000;
}
/* formulaire */
.formulaire{
    padding-top: 5em;
}

/* formulaire noms et formulaire email */
.nom{
    gap: 3em;
}
.label-nom{
    justify-content: space-around;
    height: 12vh;
}
.input{
    border: 2px solid #000;
    width: 15vw;
    height: 6vh;
}
/* formulaire message */
.noms{
    gap: 3em;
    padding: 1em 0 5em 0;
}
.message{
    gap: 1em;
}
.message textarea{
    border: 2px solid #000;
    width: 15vw;
    font-size: 16px;
    padding: 1em;
    height: 20vh;
}
.Envoyer{
    width: 15vw;
    justify-content: end;
}

.input-envoit{
    font-weight: bolder;
    font-size: 20px;
    background-color: #eea302;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
/* page projet */
.projets_main{
    padding: 0 10%;
    justify-content: space-evenly;
}
.projets-contenaire section{
    width: 100%;
    padding-bottom: 5em;
}
.projets_main h2{
    padding: 2em 0;
}
/* section1 */
.section1{
    position: relative;
    align-items: start;
}
.section1 h3{
    padding: 0;
    position: absolute;
}
.manda{
    justify-content: space-between;
    width: 100%;
}
.manda p{
    line-height: 25px;
    padding-top: 3em;
    width: 50%;
}
.lien_projet1{
    background-image: url("images/norman.png");
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 500px;
    border: 20px solid #dfdfdf;
}
/* section2 */
.section2{
    position: relative;
    align-items: start;
}
.section2 h3{
    padding: 0;
    position: absolute;
}

.lien_projet2{
    background-image: url("images/flexbox.png");
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 500px;
    border: 20px solid #dfdfdf;
}
/* section3 */
.section3{
    position: relative;
    align-items: start;
}
.section3 h3{
    padding: 0;
    position: absolute;
}
.lien_projet3{
    background-image: url("images/positionnement.png");
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 500px;
    border: 20px solid #dfdfdf;
}







/* petit écran */
@media screen and (max-width:767px){
    /* Classes Generales */
    /* header */
    .Header-navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 20vh;
    }
    .order-links{
        width: 70vw;
    }
    /* footer */
    footer{
        padding: 0% 2% 0 2%;
        text-align: center;
    }
    .hr{
        border: 2px solid #d9d9d9;
    }
    .div-footer{
        padding-top: 10%;
        align-items: center;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .nav-foot{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 60vh;
        width: 60vw;
    }
    .links-footer{
        justify-content: space-between;
        height: 12vh;
        align-items: center;
    }
    .logo-reseau{
        width: 25px;
        height: 25px;
    }
    .copy{
        width: 70vw;
        justify-content: center;
    }
    /*Page accueil */
    .Accueil_main{
        display: flex;
        flex-direction: column;
        padding: 4em 0;
        text-align: center;
        align-items: center;
    }
    .Accueil_images{
        height: 200px;
        width: 200px;
        margin-bottom: 3em;
    }
    .Accueil_présentation{
        padding-right: 0;
        width: 100%;
    }
    .Moi{
        padding-top: 2em;
        width: 100%;
    }
    .Accueil_présentation-bouton{
        width: 100%;
        padding: 3em 2em 0;
    }
        
    /* page CV */
    .vitae{
        text-align: center;
    }
    /* Formation */

    /* kadea */
    .Kadea,.unikin,.MESP{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        line-height: 25px;
    }
    /* page contact */
    .Contact_main{
        display: flex;
        flex-direction: column;
    }
    /* contact section */
    .contact-section{
        text-align: center;
    }
    /* formulaire */
    .formulaire{
        padding-top: 3em;
    }
    
    /* formulaire noms et formulaire email */
    .nom{
        justify-content: space-between;
    }
    .input{
        width: 30vw;
    }
    /* formulaire message */
    .noms{
        justify-content: space-between;
    }
    .message textarea{
        width: 30vw;
        height: 15vh;
    }
    .Envoyer{
        width: 30vw;
    }
    .input-envoit{
        font-size: 16px;
        height: 100px;
        width: 100px;
    }
    /* page projet */
    .projets_main h2{
        padding-top: 2em;
        text-align: center;
    }
    .manda{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        padding-top: 3em;
    }
    .manda p{
        padding-top: 0;
        width: 100%;
    }
    .lien_projet1, .lien_projet2, .lien_projet3{
        width: auto;
        height: 200px;
        margin-bottom: 1em;
    }


}
/* Tablette */
@media screen  and (min-width:768px ) and (max-width:1024px) {
    /* footer */
    footer{
        padding: 0 5%;
    }
    .nav-foot{
        width: 55vw;
    }
    .image-reseau{
        width: 10vw;
    }
    /*Page accueil */
    .Accueil_main{
        gap: 5%;
        padding: 4em 2em;
    }
    .Accueil_images{
        height: 400px;
        width: 400px;
    }
    .Accueil_présentation{
        width: 100%;
        justify-content: space-between;
    }
    .Moi{
        line-height: 25px;
        gap: 0.5em;
        width: 100%;
    }
    .Accueil_présentation-bouton{
        list-style: none;
        justify-content: space-between;
        width: 100%;
    }
    /* Page CV cfr pour la généralité (pour tout type d'écran) */

    /* page contact */
    .Contact_main{
        padding: 0 5%;
    }
    .message textarea{
        height: 15vh;
    }
    .input-envoit{
        font-size: 16px;
        height: 100px;
        width: 100px;
    }
    /* page projet */
    .projets_main{
        padding: 0 5%;
    }
    .manda p{
        padding-right: 3em;
    }
    .lien_projet1, .lien_projet2, .lien_projet3{
        width: 400px;
        height: 300px;
    }


}
